/* add your css here */
*{
    background-color: rgb(53, 52, 52);
}

h1{
    color:#bdb439;
    font-family: 'Russo One', sans-serif;
}

h3{
    color:#bdb439;
    font-family: 'Russo One', sans-serif;
}

h5{
    color:#A62F03 ;
}

#notDevouredBurger{
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: blanchedalmond;
}

#devouredBurger{
    font-size: 20px;
    color:#b2bb6c;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.devourIt{
    font-size: 0.5rem !important;
    width: fit-content;
    height: fit-content;
    background-color:#7C8C03;
    color: whitesmoke;
}

#burgerName{
    background-color: whitesmoke;
    font-size: 13px;
    width: 250px;
}

#newBurger{
    background-color: rgb(165, 57, 57);
    color: whitesmoke;
    font-size: 15px;
}
img{
        padding: 5px;
        width: 100px;
}